<link href="https://www.nerdfonts.com/assets/css/webfont.css" rel="stylesheet" />
<div class="min-h-screen bg-[url(/bgmelted.png)] bg-repeat">
  <div class="flex justify-center w-full">
    <app-block>
      <div class="w-full flex justify-center">
        <img
          class="h-38 md:h-80 object-contain object-center"
          src="okno_submit.png"
          alt="OKNO*SUBMIT"
        />
      </div>
      <div class="font-main text-2xl text-center font-bold">
        <p class="mt-2 mb-2">
          OknoSubmit - это сервис для разработчиков игр и игроков. Мы помогаем малоизвестным авторам
          заявить о себе
        </p>

        <hr class="border-blue-700" />
        <hr class="border-blue-700" />

        <p class="mt-2 mb-2">
          Если ты разработчик -
          <span
            class="text-pink-500 hover:cursor-pointer hover:text-pink-400"
            routerLink="/submit"
            routerLinkActive="active"
            rel="noopener noreferrer"
            target="_blank"
            >отправляй игру</span
          >
          - мы продвинем её бесплатно через тонны контента с твоим проектом.
        </p>

        <hr class="border-blue-700" />
        <hr class="border-blue-700" />
        <p class="mt-2 mb-2">
          Если ты игрок - здесь ты найдешь свежие инди-игры и новых авторов. Играй, оставляй фидбек,
          помогай талантам расти - и становись частью нашего сообщества
        </p>
      </div>

      <br />
      <app-button preset="full pinkalt2 t2" routeLink="/home">на главную</app-button>
      <br />
      <br />
    </app-block>
  </div>

  <div class="mx-[1vw] justify-center block">
    <div class="center-wrap flex flex-col items-center justify-center">
      <div class="flex w-full">
        <app-button
          preset="full pinkalt t2"
          (onClick)="openPending()"
          class="w-full text-center mr-1"
        >
          <b> @if (pending){ >в очереди< } @else { в очереди }</b>
        </app-button>
        <app-button
          preset="full pinkalt t2"
          (onClick)="openReviewed()"
          class="w-full text-center ml-1"
        >
          <b> @if (!pending){ >оцененные< } @else { оцененные }</b>
        </app-button>
      </div>
    </div>

    @if (!pending){
    <app-submissions-list
      [submissions]="reviewedSubmissions"
      label="reviewed"
      submitCard="app-reviewed-submit"
      class="w-full"
    ></app-submissions-list>
    } @else{

    <app-submissions-list
      [submissions]="pendingSubmissions"
      label="pending"
      submitCard="app-pending-submit"
      class="w-full"
    ></app-submissions-list>
    }
  </div>
</div>
