<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>oknoweb - Админ Вход</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="page-frame">

    <div class="top-bar">
        <a href="{{ url_for('main_page') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="OKNO logo" class="logo">
        </a>
        <div class="community-description">
            <h1 class="community-title admin-header">ADMIN PANEL</h1>
        </div>
    </div>

    <br><br>

    <div class="hover-outline">
        <h1 class="admin-header">LOGIN</h1>
        
        {% if error %}
            <h2 style="color: red;">Неверный логин или пароль</h2>
        {% endif %}
        
        <form action="{{ url_for('admin_login') }}" method="POST" style="max-width: 400px; margin: 0 auto; text-align: left; padding: 20px;">
            <div class="my-20">
                <h2>Логин:</h2>
                <input type="text" name="username" required>
            </div>
            
            <div class="my-20">
                <h2>Пароль:</h2>
                <input type="password" name="password" required style="padding: 10px; border: 2px solid #000555; background-color: #000555; color: #ffffff; font-family: '0xProto', monospace; width: 100%; box-sizing: border-box; font-size: 24px;">
            </div>
            
            <div class="center mt-30">
                <button type="submit" class="button"> <span class="nf">Войти</span> </button>
            </div>
        </form>
        <br>
    </div>

</div>

</body>
</html>