<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>oknoweb - Отправить игру</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <br>
    <br>

    <div class="center">
         <h1>
             OKNO SUBMIT
         </h1>

    <div class="hover-outline">
    {% if success %}

        <h1 style="background-color:#91ff00; color:#006280; margin: auto; padding: 40px; text-align: center; background-clip: content-box;"> Сабмит принят на рассмотрение! </h1>
        <h1> Следите за новостями в Telegram</h1>

        <a href="https://t.me/oknogmdv">
            <button class="button"> <span class="nf"> telegram </span> </button>
        </a>

        <br>
        <br>

        <h1> Как только мы одобрим сабмит, он появится здесь </h1>
        <div class="center">
            <a href="{{ url_for('view_games') }}">
                 <button class="button"> <span class="nf">all submits</span> </button>
            </a>
        </div>

        <br>
        <br>

        <br>
        <div class="center">
            <a href="{{ url_for('main_page') }}">
                <button class="button"> <span class="nf"> 󰘌 home 󰘌</span> </button>
            </a>
        </div>

        <br><br>

    {% else %}

            <h1>Заполните форму</h1>
            <form action="{{ url_for('submit_game') }}" method="POST" style="max-width: 600px; margin: 0 auto; text-align: left; padding: 20px;">
                <div class="my-20">
                    <h2>Название:</h2>
                    <input type="text" id="title" name="title" required>
                </div>
                
                <div class="my-20">
                    <h2>Контакты (Telegram, Email и т.д.):</h2>
                    <input type="text" id="contacts" name="contacts" required>
                </div>
                
                <div class="my-20">
                    <h2>Ссылка на игру:</h2>
                    <input type="url" id="link" name="link" required>
                </div>
                
                <div class="my-20">
                    <h2>Доп. информация:</h2>
                    <textarea id="additional_info" name="additional_info"></textarea>
                </div>
                
                <div class="center mt-30">
                    <button type="submit" class="button"> <span class="nf">SUBMIT</span> </button>
                </div>
            </form>
            <br>
   {% endif %}
</div>
    </div>

</body>
</html>
